flows.json
[{"id":"220dff68.d04de","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"d2125c7e.7f7df","type":"ui_form","z":"220dff68.d04de","name":"","label":"inputs","group":"b6633ff0.bedb1","order":0,"width":0,"height":0,"options":[{"label":"Year","value":"Year","type":"number","required":true,"rows":null},{"label":"Status","value":"Status","type":"number","required":true,"rows":null},{"label":"AdultMortality","value":"AdultMortality","type":"number","required":true,"rows":null},{"label":"InfantDeaths","value":"InfantDeaths","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"Alcohol","type":"number","required":true,"rows":null},{"label":"PercentageExpenditure","value":"PercentageExpenditure","type":"text","required":true,"rows":null},{"label":"HepatitisB","value":"HepatitisB","type":"number","required":true,"rows":null},{"label":"Measles","value":"Measles","type":"number","required":true,"rows":null},{"label":"BMI","value":"BMI","type":"number","required":true,"rows":null},{"label":"UnderFiveDeaths","value":"UnderFiveDeaths","type":"number","required":true,"rows":null},{"label":"Polio","value":"Polio","type":"number","required":true,"rows":null},{"label":"TotalExpenditure","value":"TotalExpenditure","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"Diphtheria","type":"number","required":true,"rows":null},{"label":"HIVAIDS","value":"HIVAIDS","type":"number","required":true,"rows":null},{"label":"GDP","value":"GDP","type":"number","required":true,"rows":null},{"label":"Population","value":"Population","type":"number","required":true,"rows":null},{"label":"Thinness1to19Years","value":"Thinness1to19Years","type":"number","required":true,"rows":null},{"label":"Thinness5to9Years","value":"Thinness5to9Years","type":"number","required":true,"rows":null},{"label":"IncomeCompositionOfResources","value":"IncomeCompositionOfResources","type":"number","required":true,"rows":null},{"label":"Schooling","value":"Schooling","type":"number","required":true,"rows":null}],"formValue":{"Year":"","Status":"","AdultMortality":"","InfantDeaths":"","Alcohol":"","PercentageExpenditure":"","HepatitisB":"","Measles":"","BMI":"","UnderFiveDeaths":"","Polio":"","TotalExpenditure":"","Diphtheria":"","HIVAIDS":"","GDP":"","Population":"","Thinness1to19Years":"","Thinness5to9Years":"","IncomeCompositionOfResources":"","Schooling":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":400,"wires":[["33da74ec.ba2eec"]]},{"id":"33da74ec.ba2eec","type":"function","z":"220dff68.d04de","name":"pre token","func":"global.set(\"Year\",msg.payload.Year)\nglobal.set(\"Status\",msg.payload.Status)\nglobal.set(\"AdultMortality\",msg.payload.AdultMortality)\nglobal.set(\"InfantDeaths\",msg.payload.InfantDeaths)\nglobal.set(\"Alcohol\",msg.payload.Alcohol)\nglobal.set(\"PercentageExpenditure\",msg.payload.PercentageExpenditure)\nglobal.set(\"HepatitisB\",msg.payload.HepatitisB)\nglobal.set(\"Measles\",msg.payload.Measles)\nglobal.set(\"BMI\",msg.payload.BMI)\nglobal.set(\"UnderFiveDeaths\",msg.payload.UnderFiveDeaths)\nglobal.set(\"Polio\",msg.payload.Polio)\nglobal.set(\"TotalExpenditure\",msg.payload.TotalExpenditure)\nglobal.set(\"Diphtheria\",msg.payload.Diphtheria)\nglobal.set(\"HIVAIDS\",msg.payload.HIVAIDS)\nglobal.set(\"GDP\",msg.payload.GDP)\nglobal.set(\"Population\",msg.payload.Population)\nglobal.set(\"Thinness1to19Years\",msg.payload.Thinness1to19Years)\nglobal.set(\"Thinness5to9Years\",msg.payload.Thinness5to9Years)\nglobal.set(\"IncomeCompositionOfResources\",msg.payload.IncomeCompositionOfResources)\nglobal.set(\"Schooling\",msg.payload.Schooling)\nvar apikey=\"2r20promZyBPnZMmCAd7xML1438XQEmqcq3K_wFXeGwr\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":300,"wires":[["4fc9757f.c90b4c"]]},{"id":"5bf8eaa4.c3b854","type":"inject","z":"220dff68.d04de","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":220,"wires":[["33da74ec.ba2eec"]]},{"id":"4fc9757f.c90b4c","type":"http request","z":"220dff68.d04de","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":300,"wires":[["af4f770b.7407a8","68591de3.9df4a4"]]},{"id":"af4f770b.7407a8","type":"function","z":"220dff68.d04de","name":"pre processor","func":"var Year = global.get('Year')\nvar Status = global.get('Status')\nvar AdultMortality = global.get('AdultMortality')\nvar InfantDeaths = global.get('InfantDeaths')\nvar Alcohol = global.get('Alcohol')\nvar PercentageExpenditure = global.get('PercentageExpenditure')\nvar HepatitisB = global.get('HepatitisB')\nvar Measles = global.get('Measles')\nvar BMI = global.get('BMI')\nvar UnderFiveDeaths = global.get('UnderFiveDeaths')\nvar Polio = global.get('Polio')\nvar TotalExpenditure = global.get('TotalExpenditure')\nvar Diphtheria = global.get('Diphtheria')\nvar HIVAIDS = global.get('HIVAIDS')\nvar GDP = global.get('GDP')\nvar Population = global.get('Population')\nvar Thinness1to19Years = global.get('Thinness1to19Years')\nvar Thinness5to9Years = global.get('Thinness5to9Years')\nvar IncomeCompositionOfResources = global.get('IncomeCompositionOfResources')\nvar Schooling = global.get('Schooling')\n\nvar token=msg.payload.access_token\nvar instance_id=\"992e0802-a86c-4006-9269-857c3d1bc4ad\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\nmsg.payload={\"fields\": [\"Year\",\"Status\",\"AdultMortality\",\"InfantDeaths\",\"Alcohol\",\"PercentageExpenditure\",\"HepatitisB\",\"Measles\",\"BMI\",\"UnderFiveDeaths\", \"Polio\",\"TotalExpenditure\",\"Diphtheria\",\"HIVAIDS\",\"GDP\",\"Population\",\"Thinness1to19Years\",\"Thinness5to9Years\",\"IncomeCompositionOfResources\",\"Schooling\"],\"values\": [[Year,Status,AdultMortality,InfantDeaths,Alcohol,PercentageExpenditure,HepatitisB,Measles,BMI,UnderFiveDeaths, Polio,TotalExpenditure,Diphtheria,HIVAIDS,GDP,Population,Thinness1to19Years,Thinness5to9Years,IncomeCompositionOfResources,Schooling]]}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":300,"wires":[["6907e651.87d968"]]},{"id":"6907e651.87d968","type":"http request","z":"220dff68.d04de","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/992e0802-a86c-4006-9269-857c3d1bc4ad/deployments/f40c569c-6c6f-4ef9-82f9-d6c903a9a73c/online","tls":"","persist":false,"proxy":"","authType":"","x":850,"y":300,"wires":[["2da85401.cd569c","5897c354.4fa48c"]]},{"id":"2da85401.cd569c","type":"debug","z":"220dff68.d04de","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":400,"wires":[]},{"id":"68591de3.9df4a4","type":"debug","z":"220dff68.d04de","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":400,"wires":[]},{"id":"5897c354.4fa48c","type":"function","z":"220dff68.d04de","name":"","func":"msg.payload = msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":180,"wires":[["425312d0.2d217c","4b5c5f5a.77627"]]},{"id":"425312d0.2d217c","type":"ui_text","z":"220dff68.d04de","group":"b6633ff0.bedb1","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":860,"y":220,"wires":[]},{"id":"4b5c5f5a.77627","type":"debug","z":"220dff68.d04de","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":120,"wires":[]},{"id":"b6633ff0.bedb1","type":"ui_group","z":"","name":"prediction","tab":"762c9f89.afa5","order":7,"disp":true,"width":"6","collapse":false},{"id":"762c9f89.afa5","type":"ui_tab","z":"","name":"     LifeExpectancy","icon":"dashboard","disabled":false,"hidden":false}]