flows (1).json
[{"id":"b3a2cc17.bcaf","type":"tab","label":"Auto AI","disabled":false,"info":""},{"id":"4781032c.8d0abc","type":"ui_form","z":"b3a2cc17.bcaf","name":"","label":"inputs","group":"b6633ff0.bedb1","order":1,"width":0,"height":0,"options":[{"label":"Country","value":"Country","type":"text","required":true,"rows":null},{"label":"Year","value":"Year","type":"number","required":true,"rows":null},{"label":"Status","value":"Status","type":"number","required":true,"rows":null},{"label":"AdultMortality","value":"AdultMortality","type":"number","required":true,"rows":null},{"label":"InfantDeaths","value":"InfantDeaths","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"Alcohol","type":"number","required":true,"rows":null},{"label":"Country","value":"Country","type":"text","required":true,"rows":null},{"label":"PercentageExpenditure","value":"PercentageExpenditure","type":"text","required":true,"rows":null},{"label":"HepatitisB","value":"HepatitisB","type":"number","required":true,"rows":null},{"label":"Measles","value":"Measles","type":"number","required":true,"rows":null},{"label":"Country","value":"Country","type":"text","required":true,"rows":null},{"label":"BMI","value":"BMI","type":"number","required":true,"rows":null},{"label":"UnderFiveDeaths","value":"UnderFiveDeaths","type":"number","required":true,"rows":null},{"label":"Polio","value":"Polio","type":"number","required":true,"rows":null},{"label":"TotalExpenditure","value":"TotalExpenditure","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"Diphtheria","type":"number","required":true,"rows":null},{"label":"HIVAIDS","value":"HIVAIDS","type":"number","required":true,"rows":null},{"label":"GDP","value":"GDP","type":"number","required":true,"rows":null},{"label":"Population","value":"Population","type":"number","required":true,"rows":null},{"label":"Thinness1to19Years","value":"Thinness1to19Years","type":"number","required":true,"rows":null},{"label":"Thinness5to9Years","value":"Thinness5to9Years","type":"number","required":true,"rows":null},{"label":"IncomeCompositionOfResources","value":"IncomeCompositionOfResources","type":"number","required":true,"rows":null},{"label":"Schooling","value":"Schooling","type":"number","required":true,"rows":null}],"formValue":{"Country":"","Year":"","Status":"","AdultMortality":"","InfantDeaths":"","Alcohol":"","PercentageExpenditure":"","HepatitisB":"","Measles":"","BMI":"","UnderFiveDeaths":"","Polio":"","TotalExpenditure":"","Diphtheria":"","HIVAIDS":"","GDP":"","Population":"","Thinness1to19Years":"","Thinness5to9Years":"","IncomeCompositionOfResources":"","Schooling":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":380,"wires":[["836cd702.e2cce8"]]},{"id":"836cd702.e2cce8","type":"function","z":"b3a2cc17.bcaf","name":"pre token","func":"global.set(\"Country\",msg.payload.Country)\nglobal.set(\"Year\",msg.payload.Year)\nglobal.set(\"Status\",msg.payload.Status)\nglobal.set(\"AdultMortality\",msg.payload.AdultMortality)\nglobal.set(\"InfantDeaths\",msg.payload.InfantDeaths)\nglobal.set(\"Alcohol\",msg.payload.Alcohol)\nglobal.set(\"PercentageExpenditure\",msg.payload.PercentageExpenditure)\nglobal.set(\"HepatitisB\",msg.payload.HepatitisB)\nglobal.set(\"Measles\",msg.payload.Measles)\nglobal.set(\"BMI\",msg.payload.BMI)\nglobal.set(\"UnderFiveDeaths\",msg.payload.UnderFiveDeaths)\nglobal.set(\"Polio\",msg.payload.Polio)\nglobal.set(\"TotalExpenditure\",msg.payload.TotalExpenditure)\nglobal.set(\"Diphtheria\",msg.payload.Diphtheria)\nglobal.set(\"HIVAIDS\",msg.payload.HIVAIDS)\nglobal.set(\"GDP\",msg.payload.GDP)\nglobal.set(\"Population\",msg.payload.Population)\nglobal.set(\"Thinness1to19Years\",msg.payload.Thinness1to19Years)\nglobal.set(\"Thinness5to9Years\",msg.payload.Thinness5to9Years)\nglobal.set(\"IncomeCompositionOfResources\",msg.payload.IncomeCompositionOfResources)\nglobal.set(\"Schooling\",msg.payload.Schooling)\nvar apikey=\"2r20promZyBPnZMmCAd7xML1438XQEmqcq3K_wFXeGwr\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":280,"wires":[["eabcce7.cd72c3"]]},{"id":"fea92a74.8a8ee8","type":"inject","z":"b3a2cc17.bcaf","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":200,"wires":[["836cd702.e2cce8"]]},{"id":"eabcce7.cd72c3","type":"http request","z":"b3a2cc17.bcaf","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":280,"wires":[["c3051066.4c18d","d8f8e0d9.f5776"]]},{"id":"c3051066.4c18d","type":"function","z":"b3a2cc17.bcaf","name":"pre processor","func":"var Country = global.get('Country')\nvar Year = global.get('Year')\nvar Status = global.get('Status')\nvar AdultMortality = global.get('AdultMortality')\nvar InfantDeaths = global.get('InfantDeaths')\nvar Alcohol = global.get('Alcohol')\nvar PercentageExpenditure = global.get('PercentageExpenditure')\nvar HepatitisB = global.get('HepatitisB')\nvar Measles = global.get('Measles')\nvar BMI = global.get('BMI')\nvar UnderFiveDeaths = global.get('UnderFiveDeaths')\nvar Polio = global.get('Polio')\nvar TotalExpenditure = global.get('TotalExpenditure')\nvar Diphtheria = global.get('Diphtheria')\nvar HIVAIDS = global.get('HIVAIDS')\nvar GDP = global.get('GDP')\nvar Population = global.get('Population')\nvar Thinness1to19Years = global.get('Thinness1to19Years')\nvar Thinness5to9Years = global.get('Thinness5to9Years')\nvar IncomeCompositionOfResources = global.get('IncomeCompositionOfResources')\nvar Schooling = global.get('Schooling')\n\nvar token=msg.payload.access_token\nvar instance_id=\"992e0802-a86c-4006-9269-857c3d1bc4ad\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\nmsg.payload={\"input_data\":[{\"fields\": [\"Country\",\"Year\",\"Status\",\"AdultMortality\",\"InfantDeaths\",\"Alcohol\",\"PercentageExpenditure\",\"HepatitisB\",\"Measles\",\"BMI\",\"UnderFiveDeaths\", \"Polio\",\"TotalExpenditure\",\"Diphtheria\",\"HIVAIDS\",\"GDP\",\"Population\",\"Thinness1to19Years\",\"Thinness5to9Years\",\"IncomeCompositionOfResources\",\"Schooling\"],\"values\": [[Country,Year,Status,AdultMortality,InfantDeaths,Alcohol,PercentageExpenditure,HepatitisB,Measles,BMI,UnderFiveDeaths, Polio,TotalExpenditure,Diphtheria,HIVAIDS,GDP,Population,Thinness1to19Years,Thinness5to9Years,IncomeCompositionOfResources,Schooling]]}]}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":280,"wires":[["cc64c003.c89"]]},{"id":"cc64c003.c89","type":"http request","z":"b3a2cc17.bcaf","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/165b3ecf-622b-468f-8d56-e6cb7046711e/predictions","tls":"","persist":false,"proxy":"","authType":"","x":850,"y":280,"wires":[["787b42ee.bcaecc","1c69d37a.b7d89d"]]},{"id":"787b42ee.bcaecc","type":"debug","z":"b3a2cc17.bcaf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":380,"wires":[]},{"id":"d8f8e0d9.f5776","type":"debug","z":"b3a2cc17.bcaf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":380,"wires":[]},{"id":"1c69d37a.b7d89d","type":"function","z":"b3a2cc17.bcaf","name":"","func":"msg.payload = msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":160,"wires":[["7ff4c977.4b3c68","57a7cce.c933a34"]]},{"id":"7ff4c977.4b3c68","type":"ui_text","z":"b3a2cc17.bcaf","group":"b6633ff0.bedb1","order":2,"width":0,"height":0,"name":"","label":"Prediction using AUTOAI","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":200,"wires":[]},{"id":"57a7cce.c933a34","type":"debug","z":"b3a2cc17.bcaf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":100,"wires":[]},{"id":"b6633ff0.bedb1","type":"ui_group","z":"","name":"prediction","tab":"762c9f89.afa5","order":7,"disp":true,"width":"6","collapse":false},{"id":"762c9f89.afa5","type":"ui_tab","z":"","name":"     LifeExpectancy","icon":"dashboard","disabled":false,"hidden":false}]